* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;        
    margin: 0;
    user-select: none;           
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    max-width: 300px;
    background-color: #1a1b28;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px 24px;
}

.screen {
    max-width: 100%;
    height: 140px;
    grid-column: 1/-1;
    padding: 0;
}

.currentinput, .result, .resultinput {
    font-size: 30px;
    color: #53c9dc;
}

.currentinput, .resultinput {
    width: 100%;
    height: 60px;    
    background-color: #1a1b28;
    border: none;
    outline: none;
    text-align: right;
}

.calc-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53c9dc;
    color: #fff;
    cursor: pointer;
    font: 20px bold;
    border: none;
    border-radius: 8px;
    outline: none;
}

.plus {
    width: 50px;
    height: 110px;
    grid-column: 4; 
    grid-row: 6/8;
}